div.title-search-result {
	border: 1px solid #c6c6c6;
	display: none;
	overflow: hidden;
	z-index: 205;
	border-radius: 5px;
	border: none;
	background: #FFF;
	box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25);
	overflow: hidden;
}
div.title-search-result span {
	display: flex;
	padding: 20px;
}
table.title-search-result {
	border-collapse: collapse;
	border:none;
	width:100%;
}

table.title-search-result th {
	background-color:#F7F7F7;
	border-right:1px solid #e8e8e8;
	color:#949494;
	font-weight:normal;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:14px;
 	padding-right:12px;
	text-align:right;
	vertical-align:top;
	white-space:nowrap;
	width:1%;
}

table.title-search-result td {
	background-color:white;
	color:black;
	font-weight:normal;
	padding-top:2px;
	padding-bottom:2px;
	text-align:left;
	white-space:nowrap;
}

table.title-search-result td.title-search-item {
	padding-left:8px;
	padding-right:15px;
}

table.title-search-result td.title-search-item a {
	padding-left:4px;
	padding-right:15px;
	text-decoration: none;
	color:black;
	vertical-align:top;
	display:block;
}

table.title-search-result td.title-search-item a:first-letter {
	text-transform: uppercase;
}

table.title-search-result td.title-search-item img {
	vertical-align:top;
}

table.title-search-result td.title-search-item b {
	color:#cf0000;
	font-weight:normal;
}


table.title-search-result td:not(.title-search-more) {
	color: #000;
	font-family: "Roboto Condensed",sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 300;
	line-height: 150%;
	padding: 7px 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
table.title-search-result tr.title-search-selected td
{
	background: #5DBE28;
	color: #000;
}

table.title-search-result td.title-search-more {
	font-size: 16px;
	font-weight: normal;
	padding: 20px;
}

table.title-search-result td.title-search-more:hover {
	background: #D8B225;
}

table.title-search-result td.title-search-more a
{
	color:#999999;
}
table.title-search-result td.title-search-more:hover a
{
	color:#fff;
}

table.title-search-result td.title-search-all {
	padding-left:24px;
	padding-right:15px;
}

table.title-search-result td.title-search-all a
{
	padding-left:4px;
	text-decoration:none;
	color:#808080;
}

table.title-search-result td.title-search-separator
, table.title-search-result th.title-search-separator {
	padding-top:0px;
	padding-bottom:0px;
	font-size:4px;
}

div.title-search-fader {
	display:none;
	background-image: url('images/fader.png');
	background-position: right top;
	background-repeat: repeat-y;
	position:absolute;
}
form.smartfilter {
	display: flex;
}
@media screen and (max-width: 576px){
	.title-search-result th {
		display: none;
	}
	div.title-search-result {
		margin-left: 0;
	}
}
