.about-company-section {
  margin: 80px 0;
  @include media-breakpoint-down(xl) {
    margin: 50px 0;
  }
  @include media-breakpoint-down(md) {
    margin: 40px 0 35px;
  }

  .title {
    font-family: $roboto-condensed-font;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 100%;
    color: $color-gray-1;
    margin-bottom: 35px;
    @include media-breakpoint-down(md) {
      margin-bottom: 22px;
    }
  }

  .link-box {
    @include media-breakpoint-down(md) {
      margin-top: 10px;
    }
  }

  .img-default {
    position: relative;
    img {
      display: block;
      width: 100%;
      max-width: 100%;
    }
    &:after {
      content: '';
      position: absolute;
      top: 55.5%;
      left: 54.5%;
      width: 46px;
      height: 60px;
      z-index: 1;
      background: url('../../../images/icons/dots-white.svg') no-repeat 50% 50%/ contain;
      opacity: 1;
      @include media-breakpoint-down(xl) {
        width: 28px;
        height: 37px;
      }
    }
    .company-name {
      font-family: $roboto-condensed-font;
      font-style: normal;
      font-weight: 700;
      font-size: 120px;
      line-height: 100%;
      color: rgba(0, 0, 0, 0.2);
      position: absolute;
      top: 20%;
      left: 2px;
      z-index: 2;
      @include media-breakpoint-down(xxl) {
        font-size: 100px;
      }
      @include media-breakpoint-down(xl) {
        font-size: 60px;
      }
      @include media-breakpoint-down(md) {
        font-size: 15vw;
      }
    }
  }

  .img-box {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 -15px;
    @include media-breakpoint-down(xl) {
      margin: 0 -10px;
    }
    @include media-breakpoint-down(md) {
      margin: 0 -5px;
    }

    .item {
      width: 50%;
      padding: 0 15px;
      margin-bottom: 30px;
      @include media-breakpoint-down(xl) {
        padding: 0 10px;
        margin-bottom: 18px;
      }
      @include media-breakpoint-down(md) {
        padding: 0 5px;
        margin-bottom: 10px;
      }

      .image {
        display: block;
        position: relative;
        padding-bottom: 62%;
        border-radius: 10px;
        overflow: hidden;
        @include media-breakpoint-down(xxl) {
          padding-bottom: 85%;
        }
        @include media-breakpoint-down(xl) {
          border-radius: 5px;
          padding-bottom: 86%;
        }
      }
    }
  }

  .text-box {
    padding-left: 104px;
    @include media-breakpoint-down(xxl) {
      padding-left: 73px;
    }
    @include media-breakpoint-down(xl) {
      padding-left: 0;
    }
    @include media-breakpoint-down(md) {
      line-height: 156%;
      letter-spacing: -0.018em;
    }
  }
}