.advertisement-type-1 {
  .box {
    text-align: center;
    z-index: 0;
    border-radius: 10px;
    display: block;
    padding: 22px 70px 35px;
    color: #fff;
    font-family: $roboto-condensed-font;
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
    position: relative;
    overflow: hidden;
    @include media-breakpoint-down(xl) {
      font-size: 18px;
      padding: 20px 40px 30px;
      border-radius: 7px;
    }
    @include media-breakpoint-down(md) {
      padding: 10px 12px;
      text-align: left;
    }

    img {
      z-index: -2;
    }

    &:after {
      z-index: -1;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to top, rgba(48, 57, 67, 0.80) 0.52%, rgba(0, 0, 0, 0) 100%);
    }
  }
}

.advertisement-type-2 {
  .box {
    z-index: 0;
    border-radius: 10px;
    display: block;
    padding: 10px 70px;
    color: #fff;
    font-family: $roboto-condensed-font;
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
    position: relative;
    overflow: hidden;
    min-height: 300px;
    @include media-breakpoint-down(xl) {
      min-height: 200px;
      font-size: 24px;
      padding: 12px 34px;
      border-radius: 7px;
    }
    @include media-breakpoint-down(md) {
      padding: 10px 12px;
    }

    img {
      z-index: -2;
    }

    &:after {
      z-index: -1;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 46%;
      background: linear-gradient(to bottom, rgba(48, 57, 67, 0.30) 0.52%, rgba(0, 0, 0, 0) 100%);
    }
  }
}

.advertisement-type-3 {
  padding-top: 30px;
  @include media-breakpoint-down(xl) {
    padding-top: 19px;
  }
  @include media-breakpoint-down(md) {
    padding-top: 10px;
  }
  .box {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    z-index: 0;
    padding: 60px 40px 45px;
    @include media-breakpoint-down(xl) {
      padding: 36px 20px 28px 30px;
    }
    @include media-breakpoint-down(md) {
      padding: 20px 15px 18px;
    }

    .bg-img {
      z-index: -2;
    }

    &:after {
      z-index: -1;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, rgba(48, 57, 67, 0.60) 0.52%, rgba(0, 0, 0, 0.00) 100%);
    }

    .main-text {
      color: #FFF;
      font-family: $roboto-condensed-font;
      font-size: 67px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%;
      margin-bottom: 60px;
      width: 100%;
      @include media-breakpoint-down(xxl) {
        padding-left: 5px;
      }
      @include media-breakpoint-down(xl) {
        font-size: 48px;
        margin-bottom: 47px;
        margin-right: -10px;
        padding-left: 0;
      }
      @include media-breakpoint-down(md) {
        font-size: 32px;
        margin-right: 0;
        margin-bottom: 23px;
      }
    }
    .bottom-block {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include media-breakpoint-down(md) {
        flex-wrap: wrap;
      }
      .logo {
        width: 163px;
        height: 66px;
        margin-right: 80px;
        @include media-breakpoint-down(xxl) {
          margin-right: 18px;
        }
        @include media-breakpoint-down(xl) {
          width: 100px;
          height: 41px;
          margin-right: 39px;
        }
        @include media-breakpoint-down(md) {
          height: 26px;
          width: 100%;
          margin-bottom: 17px;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: left center;
        }
      }
      .text {
        color: #FFF;
        font-family: $roboto-condensed-font;
        font-size: 36px;
        font-style: normal;
        font-weight: 300;
        line-height: 100%;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: -5px;
        @include media-breakpoint-down(xl) {
          font-size: 11px;
          font-weight: 300;
          font-family: $roboto-condensed-font;
          margin-top: 0;
        }
        @include media-breakpoint-down(md) {
          width: 50%;
          font-size: 10px;
          padding-left: 0;
        }
      }
      .number {
        color: $color-green-3;
        font-family: $roboto-condensed-font;
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        text-decoration: none;
        margin-top: 5px;
        @include media-breakpoint-down(xl) {
          font-size: 26px;
          margin-top: 14px;
        }
        @include media-breakpoint-down(md) {
          font-size: 20px;
          margin-top: 0;
          margin-bottom: -10px;
        }
      }
    }
  }
}

.advertisement-type-4 {
  padding-top: 30px;
  @include media-breakpoint-down(xl) {
    padding-top: 19px;
  }
  @include media-breakpoint-down(md) {
    padding-top: 10px;
  }
  .box {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 17px 33px 24px;
    @include media-breakpoint-down(xl) {
      display: block;
    }
    @include media-breakpoint-down(md) {
      padding: 20px 15px;
    }

    .bg-img {
      z-index: -2;
    }

    &:after {
      z-index: -1;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, rgba(48, 57, 67, 0.80) 0.52%, rgba(0, 0, 0, 0.00) 100%);
    }

    .main-text {
      color: #FFF;
      font-family: $roboto-condensed-font;
      font-size: 64px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%;
      width: 65%;
      @include media-breakpoint-down(xxl) {
        font-size: 48px;
      }
      @include media-breakpoint-down(xl) {
        font-size: 36px;
        width: 100%;
      }
      @include media-breakpoint-down(md) {
        font-size: 24px;
      }
    }
    .right-block {
      width: 35%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      @include media-breakpoint-down(xl) {
        margin-top: 20px;
        width: 100%;
      }
      .number {
        color: $color-green-3;
        font-family: $roboto-condensed-font;
        font-size: 42px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        text-decoration: none;
        @include media-breakpoint-down(xxl) {
          font-size: 32px;
        }
        @include media-breakpoint-down(xl) {
          font-size: 24px;
        }
        @include media-breakpoint-down(md) {
          font-size: 20px;
        }
      }
      .logo {
        width: 84px;
        height: 35px;
        margin-left: 30px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: left center;
        }
      }
    }
  }
}