.other-products-section {
  padding: 80px 0 92px;
  background: url('../../../images/background-products.png') no-repeat 50% 50% /cover;
  @include media-breakpoint-down(xl) {
    padding: 50px 0;
  }
  @include media-breakpoint-down(md) {
    padding: 40px 0;
  }
  .section-title {
    font-size: 48px;
  }

  .title-wrap {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin-bottom: 15px;
    @include media-breakpoint-down(xl) {
      margin-bottom: 18px;
    }
    @include media-breakpoint-down(md) {
      margin-bottom: 10px;
    }
  }

  .swiper-navigation {
    flex: none;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: -5px;

    .swiper-button-prev, .swiper-button-next {
      position: relative;
      left: 0;
      top: 0;
      width: 22px;
      height: 22px;
      transition: .4s;

      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: url('../../../images/icons/right-arrow-slider.svg') no-repeat 50% 50%/ contain;
      }
      &:hover {
        opacity: .8;
      }
    }

    .swiper-button-prev {
      margin-right: 27px;

      &:after {
        transform: translate(-50%, -50%) rotate(180deg);
      }
    }
  }
  .other-products-slider-box {
    margin-left: -15px;
    margin-right: -15px;
  }
  .other-products-slider {
    overflow: hidden;
  }

  .load-more-box {
    text-align: center;
    padding-top: 19px;
    @include media-breakpoint-down(xxl) {
      padding-top: 35px;
    }
    @include media-breakpoint-down(xl) {
      padding-top: 10px;
    }
    @include media-breakpoint-down(md) {
      padding-top: 13px;
    }
  }
}