.partnership-section {
  margin-bottom: 80px;
  @include media-breakpoint-down(xl) {
    margin-bottom: 50px;
  }
  @include media-breakpoint-down(md) {
    margin-bottom: 20px;
  }

  .partnership-inner {
    border-radius: 10px;
    background: $color-gray-3;
    position: relative;
    min-height: 300px;
    overflow: hidden;
    z-index: 0;
    @include media-breakpoint-down(xl) {
      min-height: 200px;
      border-radius: 7px;
    }

    &:before {
      content: '';
      position: absolute;
      top: 12px;
      left: 80px;
      width: 46px;
      height: 60px;
      z-index: 3;
      background: url('../../../images/icons/dots.svg') no-repeat 50% 50%/ contain;
      @include media-breakpoint-down(xxl) {
        top: 24px;
        left: 34.2%;
      }
      @include media-breakpoint-down(xl) {
        width: 42px;
        height: 55px;
        top: 12px;
        left: 42px;
      }
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 36px;
      right: 103px;
      width: 46px;
      height: 60px;
      z-index: 3;
      background: url('../../../images/icons/dots.svg') no-repeat 50% 50%/ contain;
      @include media-breakpoint-down(xxl) {
        bottom: 32px;
        right: 71px;
      }
      @include media-breakpoint-down(xl) {
        width: 39px;
        height: 50px;
        bottom: 13px;
        right: 42px;
      }
      @include media-breakpoint-down(md) {
        right: 17px;
      }
    }

    .img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 50%;
      overflow: hidden;
      z-index: -1;
      @include media-breakpoint-down(xxl) {
        width: 47%;
      }
      @include media-breakpoint-down(xl) {
        width: 67%;
        transform: translateX(-20%);
      }
      @include media-breakpoint-down(md) {
        top: 15px;
        width: 300px;
        height: 200px;
        transform: translateX(-50%);
      }

      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: url('../../../images/background-partnership.svg') no-repeat 50% 40%/ cover;
        @include media-breakpoint-down(md) {
          background-position: 50% 0;
        }
      }

      .bg-img {
        position: absolute;
        width: 99%;
        height: 99%;
        object-fit: cover;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
      }
    }

    .text {
      padding: 40px 20px 40px 0;
      @include media-breakpoint-down(xxl) {
        padding: 46px 20px 40px 0;
      }
      @include media-breakpoint-down(xl) {
        padding: 20px 36px 24px 14px;
      }
      @include media-breakpoint-down(md) {
        padding: 20px 13px 20px 17px;
      }
    }

    h2.title {
      color: #fff;
      font-family: $barista-font;
      font-size: 64px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      @include media-breakpoint-down(xl) {
        font-size: 40px;
      }
    }

    .subtitle {
      color: rgba(255, 255, 255, 0.80);
      font-family: $roboto-condensed-font;
      font-size: 20px;
      font-style: normal;
      font-weight: 300;
      line-height: 160%;
      margin-top: 20px;
      letter-spacing: -0.009em;
      @include media-breakpoint-down(xl) {
        font-size: 16px;
      }
      @include media-breakpoint-down(md) {
        padding-left: 94px;
      }
    }

    .highlight {
      color: $color-green-3;
      font-family: $roboto-condensed-font;
      font-size: 26px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      margin-top: 40px;
      letter-spacing: -0.009em;
      @include media-breakpoint-down(xl) {
        font-size: 16px;
        margin-top: 20px;
        text-transform: uppercase;
      }
      @include media-breakpoint-down(md) {
        font-size: 13px;
        padding-left: 88px;
      }
    }
  }
}