.products-overview-section {

  .title-box {
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 15px;
    @include media-breakpoint-down(xxl) {
      margin-bottom: 38px;
    }
    @include media-breakpoint-down(xl) {
      margin-bottom: 28px;
    }
    @include media-breakpoint-down(md) {
      margin-bottom: 22px;
    }

    .page-title {
      margin-bottom: 0;
    }

    .btn {
      margin-top: 12px;
      padding: 6px 17px;
      @include media-breakpoint-down(xxl) {
        margin-top: 4px;
      }
    }
  }

  .search-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 17px 30px;
    border-radius: 5px;
    border: 1px solid $color-lightgray-3;
    background: #FFF;
    margin-bottom: 41px;
    @include media-breakpoint-down(xxl) {
      padding: 16px 30px;
    }
    @include media-breakpoint-down(xl) {
      margin-bottom: 31px;
      padding: 16px 8px 16px 16px;
    }
    @include media-breakpoint-down(md) {
      display: block;
      border: none;
      background: transparent;
      padding: 35px 0 0 0;
      margin-bottom: 0;
    }

    .form-label {
      margin: 0;
      width: 100%;
      @include media-breakpoint-down(md) {
        margin-bottom: 40px;
      }

      &:nth-child(1) {
        width: 740px;
        max-width: 100%;
        margin-right: 30px;
        @include media-breakpoint-down(xxl) {
          width: 540px;
        }
        @include media-breakpoint-down(xl) {
          width: 335px;
          margin-right: 20px;
        }
        @include media-breakpoint-down(md) {
          width: 100%;
          max-width: 100%;
        }
      }

      &:nth-child(2) {
        width: 530px;
        max-width: 100%;
        margin-right: 30px;
        @include media-breakpoint-down(xxl) {
          width: 400px;
        }
        @include media-breakpoint-down(xl) {
          width: 247px;
          margin-right: 8px;
        }
        @include media-breakpoint-down(md) {
          width: 100%;
          max-width: 100%;
        }
      }

      .form-control {
        @include media-breakpoint-down(xxl) {
          line-height: 120%;
        }
        @include media-breakpoint-down(xl) {
          padding-top: 5px;
        }

        &.form-control.form-control-filter.-search {
          @include media-breakpoint-down(xl) {
            padding-left: 29px;
            background-size: auto 20px;
          }
          @include media-breakpoint-down(md) {
            padding-left: 21px;
            background-size: auto 15px;
          }
        }

        &.form-control.form-control-filter.-location {
          @include media-breakpoint-down(xl) {
            padding-left: 28px;
            background-size: auto 20px;
          }
          @include media-breakpoint-down(md) {
            padding-left: 21px;
            background-size: auto 15px;
          }
        }
      }
    }

    .btn-box {
      flex: none;
      margin-left: auto;
      @include media-breakpoint-down(md) {
        text-align: right;
      }

      .btn {
        background-position: 11px 50%;
        padding: 5px 11px 5px 38px;
        background-size: auto 19px;
        background-color: $color-gray-3;
        color: #fff;
        background-image: url('../../../images/icons/search-white.svg');
        border-color: $color-gray-3;
        @include media-breakpoint-down(xxl) {
          background-position: 11px 40%;
          padding: 5px 11px 5px 38px;
          background-size: auto 19px;
        }
        @include media-breakpoint-down(xl) {
          background-position: 8px 42%;
          padding: 5px 12px 5px 33px;
          background-size: auto 19px;
        }
        @include media-breakpoint-down(md) {
          padding: 5px 46px 5px 71px;
          background-position: 52px 42%;
          background-size: auto 15px;
          background-color: $color-gray-3;
        }

        &:hover {
          background-color: $color-gray-2;
          border-color: $color-gray-2;
        }
      }
    }
  }

  .bg-overlay {
    position: relative;
    z-index: 0;
    @include media-breakpoint-down(md) {
      margin-top: 20px;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: -1;
      background: url('../../../images/background-products.png') no-repeat 50% 50%/ cover;
    }
  }

  .products-wrap {
    padding-bottom: 50px;
    margin-left: -15px;
    margin-right: -15px;
    @include media-breakpoint-down(xl) {
      margin-left: -10px;
      margin-right: -10px;
      padding-bottom: 20px;
    }
    @include media-breakpoint-down(md) {
      margin-left: -5px;
      margin-right: -5px;
      padding-bottom: 30px;
    }
  }

  .products-masonry {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    transition: .4s;
    opacity: 0;

    @include media-breakpoint-down(xl) {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    @include media-breakpoint-down(md) {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }

  .gutter-sizer {
    width: 0;
  }

  .grid-sizer, .grid-item {
    width: 20%;
    @include media-breakpoint-down(xxl) {
      width: 25%;
    }
    @include media-breakpoint-down(xl) {
      width: calc(100% / 3);
    }
    @include media-breakpoint-down(md) {
      width: 50%;
    }
  }

  .collapse-head {
    color: $color-gray-2;
    font-family: $roboto-condensed-font;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
    padding: 13px 33px;
    letter-spacing: -0.016em;
    border-radius: 5px;
    border: 1px solid $color-lightgray-3;
    background: #FFF;
    position: relative;
    @include media-breakpoint-up(md) {
      display: none;
    }

    &:before {
      content: '';
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      width: 15px;
      height: 15px;
      opacity: 1;
      transition: .3s;
    }

    &:after {
      content: '';
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      width: 15px;
      height: 15px;
      opacity: 0;
      transition: .3s;
    }

    .arrow {
      width: 33px;
      height: 100%;
      top: 0;
      right: 0;
      position: absolute;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 22px;
        height: 13px;
        background: url('../../../images/icons/arrow-filter.svg') no-repeat 50% 50%/contain;
        opacity: 1;
        transition: .3s;
      }

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 22px;
        height: 13px;
        background: url('../../../images/icons/arrow-filter-black.svg') no-repeat 50% 50%/contain;
        opacity: 0;
        transition: .3s;
      }
    }

    &.search-box-opener {
      &:before {
        background: url('../../../images/icons/search-gray.svg') no-repeat 50% 50%/ contain;
      }

      &:after {
        background: url('../../../images/icons/search-black.svg') no-repeat 50% 50%/ contain;
      }
    }

    &.filter-box-opener {
      margin-top: 20px;

      &:before {
        background: url('../../../images/icons/filter-gray.svg') no-repeat 50% 50%/ contain;
      }

      &:after {
        background: url('../../../images/icons/filter-black.svg') no-repeat 50% 50%/ contain;
      }
    }

    &.active {
      background: $color-green-3;

      &:before {
        opacity: 0;
      }

      &:after {
        opacity: 1;
      }

      .arrow {

        &:before {
          transform: translate(-50%, -50%) rotate(180deg);
          opacity: 0;
        }

        &:after {
          transform: translate(-50%, -50%) rotate(180deg);
          opacity: 1;
        }
      }
    }
  }

  .filter-output-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 40px;
    @include media-breakpoint-down(xl) {
      margin-left: -10px;
      margin-right: -10px;
    }
    @include media-breakpoint-down(md) {
      display: block;
      margin-left: 0;
      margin-right: 0;
      margin-top: 21px;
    }

    .filter-output {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-left: 15px;
      padding-right: 15px;
      width: 50%;
      @include media-breakpoint-down(xl) {
        padding-left: 10px;
        padding-right: 10px;
      }
      @include media-breakpoint-down(md) {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
      }

      .links {
        color: rgba(0, 0, 0, 0.75);
        font-family: $roboto-condensed-font;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 160%;
        margin-right: 40px;
        margin-left: -4px;
        letter-spacing: -0.02em;
        @include media-breakpoint-down(xl) {
          font-size: 12px;
          letter-spacing: 0.002em;
        }

        a {
          border-radius: 5px;
          overflow: hidden;
          border: 1px solid transparent;
          padding: 2px 4px;
          color: rgba(0, 0, 0, 0.75);

          &:hover {
            border-color: $color-green-3;
            background: $color-green-3;
            color: rgba(0, 0, 0, 1);
          }
        }

        .sep {
          margin: 0 4px;
          @include media-breakpoint-down(xl) {
            margin: 0 3px;
          }
        }
      }

      .count {
        color: rgba(0, 0, 0, 0.75);
        font-family: $roboto-condensed-font;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 160%;
        margin-right: 40px;
      }
    }

    .sort-by-box {
      width: 50%;
      padding-left: 15px;
      padding-right: 15px;
      text-align: right;
      @include media-breakpoint-down(xl) {
        padding-left: 10px;
        padding-right: 10px;
      }
      @include media-breakpoint-down(md) {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        text-align: left;
        padding-top: 21px;
      }

      .bx_filter_parameters_box_container {
        display: flex;
      }
    }

    .bx_filter_parameters_box {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-left: -15px;
      margin-right: -15px;
      @include media-breakpoint-down(xl) {
        margin-left: -10px;
        margin-right: -10px;
      }
      @include media-breakpoint-down(md) {
        display: block;
        margin-left: 0;
        margin-right: 0;
      }

      .bx_filter_parameters_box_title {
        width: 50%;
        padding-left: 15px;
        padding-right: 1px;
        @include media-breakpoint-down(xl) {
          padding-left: 10px;
          padding-right: 1px;
        }
        @include media-breakpoint-down(md) {
          padding-right: 0;
          width: 100%;
          padding-left: 8px;
          margin-bottom: 7px;
        }
      }

      .bx_filter_block {
        width: 50%;
        padding-left: 15px;
        padding-right: 15px;
        @include media-breakpoint-down(xl) {
          padding-left: 10px;
          padding-right: 10px;
        }
        @include media-breakpoint-down(md) {
          padding-left: 0;
          padding-right: 0;
          width: 100%;
        }
      }
    }
  }

  .collapsed-content {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  .author-wrap {
    border-radius: 10px;
    border: 1px solid $color-lightgray-3;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 12px 20px;
    margin-bottom: 38px;
    @include media-breakpoint-down(xxl) {
      padding: 12px 7px 12px 20px;
    }
    @include media-breakpoint-down(xl) {
      padding: 12px 7px 15px 12px;
      margin-bottom: 30px;
    }
    @include media-breakpoint-down(md) {
      padding: 20px 6px 11px 10px;
      align-items: flex-start;
      margin-bottom: 20px;
    }

    & + .title-box {
      column-gap: 0;
      align-items: baseline;
      @include media-breakpoint-down(xxl) {
        margin-bottom: 30px;
      }
      .section-title {
        font-size: 48px;
        @include media-breakpoint-down(xl) {
          font-size: 40px;
        }
      }
    }

    .author-box {
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: flex-start;
      width: 32.5%;
      padding-right: 15px;
      @include media-breakpoint-down(xxl) {
        width: 31.5%;
      }
      @include media-breakpoint-down(xl) {
        width: 31%;
        padding-right: 10px;
      }
      @include media-breakpoint-down(md) {
        width: 100%;
        padding-right: 0;
        margin-bottom: 20px;
      }
      .avatar {
        width: 100px;
        height: 100px;
        overflow: hidden;
        position: relative;
        border-radius: 50%;
        flex: none;
        @include media-breakpoint-down(xl) {
          width: 50px;
          height: 50px;
        }
      }

      .name {
        color: #000;
        font-family: $roboto-condensed-font;
        font-size: 26px;
        font-style: normal;
        font-weight: 300;
        line-height: 120%;
        padding-left: 16px;
        letter-spacing: -0.012em;
        @include media-breakpoint-down(xl) {
          font-size: 20px;
          line-height: 160%;
          padding-left: 12px;
        }
      }
    }

    .count-products {
      color: rgba(0, 0, 0, 0.75);
      font-family: $roboto-condensed-font;
      font-size: 20px;
      font-style: normal;
      font-weight: 300;
      line-height: 160%;
      width: 17.5%;
      padding-left: 15px;
      padding-right: 15px;
      @include media-breakpoint-down(xxl) {
        width: 18%;
      }
      @include media-breakpoint-down(xl) {
        font-size: 16px;
        line-height: 120%;
        width: 19%;
        padding-left: 10px;
        padding-right: 10px;
      }
      @include media-breakpoint-down(md) {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        line-height: 120%;
        margin-bottom: 20px;
        letter-spacing: -0.012em;
      }
    }

    .phone-link {
      width: 28%;
      padding-left: 15px;
      padding-right: 15px;
      @include media-breakpoint-down(xxl) {
        width: 27%;
      }
      @include media-breakpoint-down(xl) {
        padding-left: 10px;
        padding-right: 10px;
        width: 26.5%;
      }
      @include media-breakpoint-down(md) {
        width: 50%;
        padding-left: 0;
        padding-right: 5px;
      }
      a {
        position: relative;
        padding-left: 43px;
        color: #000;
        font-family: $roboto-condensed-font;
        font-size: 26px;
        font-style: normal;
        font-weight: 300;
        line-height: 120%;
        @include media-breakpoint-down(xl) {
          font-size: 20px;
          line-height: 160%;
          padding-left: 28px;
          letter-spacing: -0.02em;
        }
        @include media-breakpoint-down(md) {
          font-size: 16px;
          line-height: 100%;
        }

        &:before {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          width: 30px;
          height: 30px;
          transform: translateY(-55%);
          background: url('../../../images/icons/phone.svg') no-repeat 50% 50%/ contain;
          @include media-breakpoint-down(xl) {
            width: 20px;
            height: 20px;
          }
        }

        &:hover {
          color: rgba(0, 0, 0, .8);
        }
      }
    }

    .menu.-social {
      max-width: 330px;
      column-gap: 80px;
      width: 22%;
      padding-left: 15px;
      justify-content: flex-start;
      @include media-breakpoint-down(xxl) {
        column-gap: 30px;
        width: 23.5%;
      }
      @include media-breakpoint-down(xl) {
        padding-right: 0;
        column-gap: 32px;
        padding-left: 10px;
        justify-content: flex-end;
        li a {
          width: 30px;
          height: 30px;
        }
      }
      @include media-breakpoint-down(md) {
        width: 50%;
        padding-right: 0;
        column-gap: 27px;
        justify-content: flex-end;
        padding-left: 10px;
      }
    }
  }
}
