.single-product-section {
  padding-bottom: 148px;
  overflow: visible;
  @include media-breakpoint-down(xxl) {
    padding-bottom: 136px;
  }
  @include media-breakpoint-down(xl) {
    padding-bottom: 96px;
  }
  @include media-breakpoint-down(md) {
    padding-bottom: 40px;
  }

  .content-row {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    @include media-breakpoint-down(md) {
      display: block;
    }

    .sidebar {
      flex: none;
      width: 400px;
      margin-right: 103px;
      @include media-breakpoint-down(xxl) {
        width: 300px;
        margin-right: 70px;
      }
      @include media-breakpoint-down(xl) {
        width: 186px;
        margin-right: 41px;
      }
      @include media-breakpoint-down(md) {
        width: 100%;
        margin-right: 0;
      }
    }

    .main-content {
      width: calc(100% - 503px);
      @include media-breakpoint-down(xxl) {
        width: calc(100% - 370px);
      }
      @include media-breakpoint-down(xl) {
        width: calc(100% - 227px);
      }
      @include media-breakpoint-down(md) {
        width: 100%;
      }
    }
  }

  .sidebar-widgets {
    @include media-breakpoint-up(md) {
      position: sticky;
      top: 70px;
    }

    .sidebar-widget {
      &:not(:last-child) {
        margin-bottom: 30px;
        @include media-breakpoint-down(xl) {
          margin-bottom: 19px;
        }
        @include media-breakpoint-down(md) {
          margin-bottom: 11px;
        }
      }
    }
  }

  .sidebar-widget {
    display: block;
    width: 100%;
    border-radius: 10px;
    border: 1px solid $color-lightgray-3;
    background: #FFF;
    padding: 30px;
    transition: .4s;
    @include media-breakpoint-down(xl) {
      padding: 10px 16px;
    }
    @include media-breakpoint-down(md) {
      padding: 10px 15px;
    }

    .product-info {
      @include media-breakpoint-down(md) {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
      }
      .top-part {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 21px;
        @include media-breakpoint-down(xl) {
          margin-bottom: 14px;
        }
        @include media-breakpoint-down(md) {
          width: 100%;
        }

        .date {
          color: $color-green-1;
          font-family: $roboto-condensed-font;
          font-size: 15px;
          font-style: normal;
          font-weight: 300;
          line-height: 156%;
          width: 56%;
          margin-right: 20px;
          @include media-breakpoint-down(xl) {
            font-size: 11px;
          }
        }

        .add-to-favourite {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          color: #526172;
          @include media-breakpoint-down(xxl) {
            margin-left: auto;
          }
          @include media-breakpoint-down(xl) {
            margin-right: 8px;
          }
          @include media-breakpoint-down(md) {
            margin-right: 0;
          }

          svg {
            width: 30px;
            height: 30px;
            @include media-breakpoint-down(xl) {
              width: 22px;
              height: 22px;
            }
          }

          &:hover {
            color: $color-orange-2;
          }
          &.active {
            color: $color-orange-2;
            svg {
              * {
                fill: $color-orange-2;
              }
            }
          }
        }
      }

      .product-title {
        color: #000;
        font-family: $roboto-condensed-font;
        font-size: 26px;
        font-style: normal;
        font-weight: 300;
        line-height: 140%;
        margin-bottom: 30px;
        @include media-breakpoint-down(xl) {
          font-size: 20px;
          letter-spacing: -0.02em;
          margin-bottom: 20px;
        }
        @include media-breakpoint-down(md) {
          width: 100%;
        }
      }

      .price {
        margin-bottom: 34px;
        color: $color-green-1;
        font-family: $roboto-condensed-font;
        font-size: 26px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        @include media-breakpoint-down(xl) {
          font-size: 20px;
          margin-bottom: 23px;
          letter-spacing: -0.02em;
        }
        @include media-breakpoint-down(md) {
          width: 50%;
          margin-bottom: 15px;
        }
      }

      .location {
        position: relative;
        padding-left: 43px;
        color: rgba(0, 0, 0, 0.75);
        font-family: $roboto-condensed-font;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 160%;
        margin-bottom: 30px;
        @include media-breakpoint-down(xl) {
          font-size: 16px;
          line-height: 120%;
          padding-left: 28px;
          letter-spacing: -0.02em;
          margin-bottom: 19px;
        }
        @include media-breakpoint-down(md) {
          width: 50%;
          padding-left: 32px;
          margin-bottom: 15px;
        }

        &:before {
          content: '';
          position: absolute;
          top: 50%;
          left: -2px;
          width: 32px;
          height: 32px;
          transform: translateY(-55%);
          background: url('../../../images/icons/location-2.svg') no-repeat 50% 50%/ contain;
          @include media-breakpoint-down(xl) {
            left: 0;
            width: 20px;
            height: 20px;
          }
          @include media-breakpoint-down(md) {
            left: 5px;
          }
        }
      }

      .phone-link {
        margin-bottom: 22px;
        @include media-breakpoint-down(xl) {
          margin-bottom: 20px;
        }
        @include media-breakpoint-down(md) {
          width: 50%;
          margin-bottom: 8px;
        }

        a {
          position: relative;
          padding-left: 43px;
          color: #000;
          font-family: $roboto-condensed-font;
          font-size: 26px;
          font-style: normal;
          font-weight: 300;
          line-height: 100%;
          @include media-breakpoint-down(xl) {
            font-size: 16px;
            line-height: 120%;
            padding-left: 28px;
            letter-spacing: -0.02em;
          }

          &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 30px;
            height: 30px;
            transform: translateY(-55%);
            background: url('../../../images/icons/phone.svg') no-repeat 50% 50%/ contain;
            @include media-breakpoint-down(xl) {
              width: 20px;
              height: 20px;
            }
          }

          &:hover {
            color: rgba(0, 0, 0, .8);
          }
        }
      }

      .menu.-social {
        max-width: 100%;
        column-gap: 30px;
        @include media-breakpoint-down(xl) {
          column-gap: 20px;
        }
        @include media-breakpoint-down(md) {
          width: 50%;
          flex-wrap: nowrap;
        }
      }
    }

    .author-box {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 20px;
      @include media-breakpoint-down(xl) {
        padding-top: 10px;
      }
      @include media-breakpoint-down(md) {
        padding-top: 6px;
      }

      .ava {
        width: 60px;
        height: 60px;
        margin-right: 12px;
        flex: none;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        @include media-breakpoint-down(xl) {
          width: 40px;
          height: 40px;
          margin-right: 8px;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .text {
        color: #000;
        font-family: $roboto-condensed-font;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 120%;
        letter-spacing: -0.009em;
        padding-top: 6px;
        @include media-breakpoint-down(xxl) {
          padding-top: 6px;
        }
        @include media-breakpoint-down(xl) {
          font-size: 16px;
        }
      }

      .ava + .text {
        padding-top: 0;
        padding-bottom: 6px;
        @include media-breakpoint-down(xxl) {
          padding-top: 0;
          padding-bottom: 0;
        }
      }
    }

    .blue-link {
      font-size: 16px;
      transition: .4s;
      letter-spacing: -0.009em;
      @include media-breakpoint-down(xl) {
        font-size: 14px;
        padding-bottom: 7px;
        letter-spacing: -0.02em;
      }
    }
  }

  a.sidebar-widget {
    &:hover {
      border-color: $color-green-3;
      background: $color-green-3;

      .blue-link {
        color: #FFF;
      }
    }
    &.edit-link {
      color: rgba(0, 0, 0, 0.75);
      font-family: $roboto-condensed-font;
      font-size: 20px;
      font-style: normal;
      font-weight: 300;
      line-height: 120%;
      text-align: center;
      padding: 10px 11px 10px 20px;
      letter-spacing: -0.02em;
      svg {
        width: 16px;
        height: 16px;
        display: inline-block;
        vertical-align: baseline;
        margin-left: 9px;
        color: $color-gray-3;
        transition: .3s;
      }
      &:hover {
        color: #000;
        svg {
          color: #000;
        }
      }
      @include media-breakpoint-down(xl) {
        border-color: $color-green-3;
        background: $color-green-3;
        margin-bottom: 21px;
        max-width: 228px;
        color: #000;
        text-align: left;
        font-size: 16px;
        padding: 10px 0 12px 15px;
        svg {
          color: #000;
        }
      }
      @include media-breakpoint-down(md) {
        max-width: 100%;
        margin-bottom: 20px;
        svg {
          color: #000;
          margin-left: 12px;
        }
      }
    }
  }

  .content-wrap {
    border-radius: 10px;
    border: 1px solid $color-lightgray-3;
    background: #FFF;
    padding: 30px;
    position: relative;
    .complaint-box {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
    }
    @include media-breakpoint-down(xl) {
      padding: 20px 20px 24px 20px;
    }
    @include media-breakpoint-down(md) {
      padding: 0;
      background: transparent;
      border: none;
      margin-bottom: 80px;
    }
  }

  .content-box {
    color: rgba(0, 0, 0, 0.75);
    font-family: $roboto-condensed-font;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
    letter-spacing: -0.015em;

    h1, h2, h3, h4, h5, p, ol, ul {
      margin-bottom: 0;
      & + {
        h1, h2, h3, h4, h5, p, ol, ul {
          margin-top: 16px;
        }
      }
    }
  }

  .slider-box {
    padding-right: 110px;
    position: relative;
    margin-bottom: 40px;
    @include media-breakpoint-down(xl) {
      padding-right: 78px;
      margin-bottom: 22px;
    }
    @include media-breakpoint-down(md) {
      padding-right: 0;
      margin-bottom: 22px;
    }
    .big-image-slider {
      width: 100%;
      overflow: hidden;
      .swiper-slide {
        .image {
          position: relative;
          padding-bottom: 74.7%;
          border-radius: 10px;
          overflow: hidden;
          @include media-breakpoint-down(xl) {
            padding-bottom: 73.7%;
          }
          @include media-breakpoint-down(md) {
            padding-bottom: 74.7%;
          }
        }
      }
    }
    .thumbnails-slider{
      position: absolute;
      right: 0;
      width: 80px;
      overflow: hidden;
      top: 0;
      bottom: 0;
      @include media-breakpoint-down(xl) {
        width: 60px;
      }
      @include media-breakpoint-down(md) {
        width: 100%;
        position: relative;
        height: auto;
        top: 0;
        bottom: 0;
        margin-top: 10px;
      }
      .swiper-slide {
        cursor: pointer;
        .image {
          height: 100%;
          position: relative;
          border-radius: 5px;
          overflow: hidden;
          @include media-breakpoint-down(md) {
            height: auto;
            padding-bottom: 74.4%;
          }
        }
      }
    }
  }
}