.social-section {
  margin-bottom: 80px;
  @include media-breakpoint-down(xl) {
    margin-bottom: 50px;
  }
  @include media-breakpoint-down(md) {
    margin-bottom: 20px;
  }

  .social-inner {
    overflow: hidden;
    border-radius: 10px;
    background: #344C59;
    position: relative;
    min-height: 300px;
    z-index: 0;
    padding: 70px 0 90px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @include media-breakpoint-down(xxl) {
      padding: 74px 0 90px;
    }
    @include media-breakpoint-down(xl) {
      padding: 52px 0;
      min-height: 200px;
      border-radius: 7px;
    }
    @include media-breakpoint-down(md) {
      display: block;
      padding: 18px 0 13px;
    }

    &:before {
      content: '';
      position: absolute;
      bottom: 34px;
      left: 35%;
      width: 46px;
      height: 60px;
      z-index: -1;
      background: url('../../../images/icons/dots.svg') no-repeat 50% 50%/ contain;
    }

    img.bg-img {
      z-index: -2;
    }

    .text-box {
      width: 42.5%;
      padding-left: 202px;
      z-index: 0;
      position: relative;
      @include media-breakpoint-down(xxl) {
        width: 51%;
        padding-left: 170px;
      }
      @include media-breakpoint-down(xl) {
        width: 57%;
        padding-left: 102px;
      }
      @include media-breakpoint-down(md) {
        width: 100%;
        padding-left: 47px;

      }

      &:before {
        content: '';
        position: absolute;
        top: -22px;
        left: 99px;
        width: 258px;
        height: 164px;
        z-index: -1;
        background: url('../../../images/minimap.svg') no-repeat 50% 50%/ contain;
        @include media-breakpoint-down(xl) {
          top: -18px;
          left: 40px;
          width: 195px;
          height: 124px;
        }
      }
      h2.title {
        color: #fff;
        font-family: $roboto-condensed-font;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        margin: 0;
        @include media-breakpoint-down(xl) {
          font-size: 48px;
        }
      }
      .subtitle {
        padding-left: 32px;
        color: rgba(255, 255, 255, 0.80);
        font-family: $roboto-condensed-font;
        font-size: 30px;
        font-style: normal;
        font-weight: 300;
        line-height: 100%;
        margin-top: 1px;
        @include media-breakpoint-down(xl) {
          font-size: 24px;
          padding-left: 22px;
        }
        @include media-breakpoint-down(md) {
          padding-left: 0;
          margin-top: 0;
        }
      }
    }
    .social-box {
      width: 57.5%;
      @include media-breakpoint-down(xxl) {
        width: 49%;
        padding-right: 50px;
      }
      @include media-breakpoint-down(xl) {
        width: 43%;
        padding-right: 62px;
      }
      @include media-breakpoint-down(md) {
        width: 100%;
        padding-right: 0;
        margin-top: 13px;
      }
      .menu.-social {
        max-width: 654px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include media-breakpoint-down(md) {
          max-width: 224px;
          margin: 0 auto;
        }
        li {
          a {
            height: 124px;
            width: 124px;
            @include media-breakpoint-down(xl) {
              width: 60px;
              height: 60px;
            }
          }
        }
      }
    }

  }

}