.btn {
  outline: none;
  transition: .4s;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px 64px;
  font-size: 13px;
  font-weight: 500;
  height: 36px;
  line-height: 1;
  border-radius: 20px;
  text-transform: uppercase;
  font-family: $roboto-condensed-font;
  box-shadow: none;

  @include media-breakpoint-down(xxl) {
    padding: 6px 31px;
  }
  @include media-breakpoint-down(md) {
    padding: 6px 26px;
  }

  &.btn-large {
    display: flex;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    text-transform: uppercase;
    padding: 5px 20px;
    border-radius: 0;
    height: 48px;
  }

  &.btn-green {
    background: $color-green-2;
    color: #fff;
    border: 1px solid $color-green-2;
    &:hover {
      background: $color-green-1;
      border-color: $color-green-1;
    }
  }

  &.btn-orange {
    background: $color-yellow-2;
    color: #fff;
    border: 1px solid $color-yellow-2;
    &:hover {
      background: $color-yellow-1;
      border-color: $color-yellow-1;
    }
  }

  &.btn-gray {
    background: $color-gray-2;
    color: #fff;
    border: 1px solid $color-gray-2;
    &:hover {
      background: $color-gray-1;
      border-color: $color-gray-1;
    }
  }

  &.btn-search {
    padding: 5px 32px 5px 51px;
    border-radius: 20px;
    border: 1px solid $color-lightgray-3;
    background: $color-lightgray-4;
    color: $color-gray-3;
    font-family: $roboto-condensed-font;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 1;
    height: 36px;
    text-transform: none;
    @include media-breakpoint-down(xxl) {
      padding: 5px 11px 5px 38px;
    }
    @include media-breakpoint-down(xl) {
      padding: 5px 16px 5px 41px;
      font-size: 16px;
    }
    @include media-breakpoint-down(md) {
      padding: 5px 48px 5px 70px;
    }
    svg {
      position: absolute;
      top: 7px;
      left: 27px;
      width: 18px;
      height: 19px;
      @include media-breakpoint-down(xxl) {
        top: 6px;
        left: 10px;
      }
      @include media-breakpoint-down(xl) {
        top: 9px;
        left: 22px;
        width: 14px;
        height: 15px;
      }
    }
    &:hover {
      background: $color-gray-1;
      color: #fff;
    }
  }
}