.btn {
  outline: none;
  transition: .4s;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px 64px;
  font-size: 13px;
  font-weight: 500;
  height: 36px;
  line-height: 1;
  border-radius: 20px;
  text-transform: uppercase;
  font-family: $roboto-condensed-font;
  box-shadow: none;

  @include media-breakpoint-down(xxl) {
    padding: 6px 31px;
  }
  @include media-breakpoint-down(md) {
    padding: 6px 26px;
  }

  &.btn-large {
    display: flex;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    text-transform: uppercase;
    padding: 5px 20px;
    border-radius: 0;
    height: 48px;
  }

  &.btn-green {
    background: $color-green-2;
    color: #fff;
    border: 1px solid $color-green-2;
    &:hover {
      background: $color-green-1;
      border-color: $color-green-1;
    }
  }

  &.btn-orange {
    background: $color-yellow-2;
    color: #fff;
    border: 1px solid $color-yellow-2;
    &:hover {
      background: $color-yellow-1;
      border-color: $color-yellow-1;
    }
  }

  &.btn-gray {
    background: $color-gray-2;
    color: #fff;
    border: 1px solid $color-gray-2;
    &:hover {
      background: $color-gray-1;
      border-color: $color-gray-1;
    }
  }

  &.btn-search {
    padding: 5px 32px 5px 51px;
    border-radius: 20px;
    border: 1px solid $color-lightgray-3;
    color: $color-gray-3;
    font-family: $roboto-condensed-font;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 1;
    height: 36px;
    text-transform: none;
    position: relative;
    background: $color-lightgray-4 url('../../../images/icons/search.svg') no-repeat 27px 50% / auto 19px;
    @include media-breakpoint-down(xxl) {
      background-position: 11px 50%;
      padding: 5px 11px 5px 38px;
    }
    @include media-breakpoint-down(xl) {
      padding: 5px 20px 5px 45px;
      font-size: 16px;
      background-position: 26px 42%;
      background-size: auto 15px;
    }
    @include media-breakpoint-down(md) {
      padding: 5px 48px 5px 70px;
      background-position: 52px 42%;
    }

    &:hover {
      background-color: $color-gray-1;
      color: #fff;
      background-image: url('../../../images/icons/search-white.svg');
    }
  }
}

.bx-authform-social-icon {
  width: 100%;
  border-radius: 20px;
  border: 2px solid transparent;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  font-family: $roboto-condensed-font;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  text-transform: uppercase;
  padding-left: 60px;
  padding-right: 10px;

  &:before {
    content: '';
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
  }

  &.facebook {
    background: #3D589B;
    border-color: #3D589B;
    color: #FFF;
    &:before {
      background: url('../../../images/icons/social/facebook-login.svg') no-repeat 50% 50%/ contain;
    }
  }
  &.google {
    border-radius: 20px;
    border-color: $color-gray-2;
    background: #FFF;
    color: $color-gray-2;
    &:before {
      background: url('../../../images/icons/social/google-login.svg') no-repeat 50% 50%/ contain;
    }
  }
  &.apple {
    background: $color-gray-1;
    border-color: $color-gray-1;
    color: #FFF;
    &:before {
      background: url('../../../images/icons/social/apple-login.svg') no-repeat 50% 50%/ contain;
    }
  }
}