.form-label {
  width: 100%;
  box-shadow: none;
  outline: none;

  &.-min-max-label {
    border-radius: 5px;
    border: 1px solid var(--10-black, rgba(82, 97, 114, 0.10));
    background: #FFF;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    height: 50px;
    color: rgba(0, 0, 0, 0.50);
    font-family: $roboto-condensed-font;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
    padding: 10px 5px 10px 16px;
    @include media-breakpoint-down(xl) {
      font-size: 16px;
      line-height: 120%;
      height: 44px;
      padding: 10px 5px 10px 8px;
    }
    @include media-breakpoint-down(md) {
      font-size: 14px;
      padding: 7px 5px 7px 8px;
    }

    input[type='text'], .form-control {
      width: 100%;
      color: #000;
      font-family: $roboto-condensed-font;
      font-size: 20px;
      font-style: normal;
      font-weight: 300;
      line-height: 145%;
      border: none;
      height: auto;
      box-shadow: none;
      background: transparent;
      padding: 0 0 0 4px;
      @include media-breakpoint-down(xl) {
        font-size: 16px;
        line-height: 24px;
      }
      @include media-breakpoint-down(md) {
        font-size: 14px;
        line-height: 30px;
      }
    }
  }
}

.form-group {
  &.row {
    h2 {
      padding-top: 13px;
      margin-bottom: 0;
      @include media-breakpoint-down(xl) {
        padding-top: 0;
        margin-bottom: 14px;
      }
    }
  }
}

.form-select-box {
  & + & {
    margin-top: 20px;
    @include media-breakpoint-down(xl) {
      margin-top: 10px;
    }
  }
}

.form-select {
  box-shadow: none !important;
  outline: none;
  width: 100%;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid $color-lightgray-1;
  background: #FFF;
  padding: 5px 20px;
  color: rgba(0, 0, 0, 0.50);
  @include media-breakpoint-down(xl) {
    font-size: 16px;
    line-height: 120%;
    height: 44px;
    padding: 5px 14px;
  }
}

.form-control {
  box-shadow: none !important;
  outline: none;
  width: 100%;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid $color-lightgray-1;
  background: #FFF;
  padding: 5px 20px;
  color: #000;
  letter-spacing: -0.012em;
  @include media-breakpoint-down(xl) {
    font-size: 16px;
    line-height: 120%;
    height: 44px;
    padding: 5px 14px;
  }

  &::placeholder {
    color: rgba(0, 0, 0, 0.35);
  }

  &.-search {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.50);
    border-radius: 0;
    color: rgba(0, 0, 0, 0.75);
    font-family: $roboto-condensed-font;
    padding: 0;
    height: 30px;
    letter-spacing: -0.01em;
    padding-left: 30px;
    background: url('../../../images/icons/search.svg') no-repeat 0 50% / auto 19px;

    &::placeholder {
      color: rgba(0, 0, 0, 0.50);
    }

    &:focus {
      background-color: transparent;
      border-bottom-color: rgba(0, 0, 0, 0.50);
    }

    @include media-breakpoint-down(xl) {
      font-size: 16px;
      padding-left: 22px;
      background-size: auto 15px;
    }
  }

  &.-location, &.-simple-location {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.50);
    border-radius: 0;
    color: rgba(0, 0, 0, 0.75);
    font-family: $roboto-condensed-font;
    padding: 0;
    height: 30px;
    letter-spacing: -0.01em;
    padding-left: 35px;
    background: url('../../../images/icons/location-2.svg') no-repeat 0 50% / auto 21px;

    &::placeholder {
      color: rgba(0, 0, 0, 0.50);
    }

    &:focus {
      background-color: transparent;
      border-bottom-color: rgba(0, 0, 0, 0.50);
    }

    @include media-breakpoint-down(xl) {
      padding-left: 17px;
      background-size: auto 15px;
      font-size: 16px;
    }

    &.bx_filter_select_container {
      display: block !important;
    }

    .bx_filter_select_block {
      padding: 0;
      height: auto;
      color: rgba(0, 0, 0, 0.75);
      font-size: 20px;
      font-style: normal;
      font-weight: 300;
      line-height: 140%;
    }

    .bx_filter_select_arrow {
      display: none;
    }
  }
}


textarea.form-control {
  height: auto;
  min-height: 224px;
  min-width: 100%;
  max-width: 100%;
  padding-top: 11px;
}

.upload-file-custom {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 40px;
  @include media-breakpoint-down(md) {
    display: block;
  }

  .upload-title-label {
    width: 170px;
    margin-right: 30px;
    color: rgba(0, 0, 0, 0.75);
    font-family: $roboto-condensed-font;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
    flex: none;
    @include media-breakpoint-down(md) {
      margin-bottom: 20px;
    }
  }

  .upload-image-box {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    @include media-breakpoint-down(md) {
      display: block;
    }
  }

  .upload-image {
    width: 70px;
    height: 70px;
    flex: none;
    margin-right: 30px;
    border-radius: 5px;
    background: #FFF;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    @include media-breakpoint-down(xl) {
      width: 103px;
      height: 103px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &.-default {
      img {
        transition: .3s;
        filter: grayscale(1) opacity(55%);
      }
    }

    &:not(.-default) {
      &:after {
        content: '';
        width: 100%;
        height: 100%;
        background: url("../../../images/icons/trash.svg") no-repeat 50% 50%/ 29px auto, rgba(0, 0, 0, .5);
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        transition: .3s;
      }
    }

    @media (hover: hover) {
      &:hover {
        &.-default {
          img {
            filter: grayscale(0) opacity(100%);
          }
        }

        &:after {
          opacity: 1;
        }
      }
    }
  }

  .hint {
    color: rgba(0, 0, 0, 0.75);
    font-family: $roboto-condensed-font;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
    @include media-breakpoint-down(md) {
      margin-top: 5px;
    }
  }
}

.upload-group {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 16px;
  @include media-breakpoint-down(xl) {
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 8px;
    column-gap: 9px;
  }

  .upload-item-box {
    display: inline-flex;
  }

  .upload-file-custom {
    margin-bottom: 0;
    @include media-breakpoint-down(xl) {
      margin-bottom: 2px;
    }

    .upload-image {
      margin: 0;
    }
  }
}

form {
  h2, h3, h4, h5 {
    color: rgba(0, 0, 0, 0.75);
    font-family: $roboto-condensed-font;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
    margin-bottom: 20px;
    letter-spacing: -0.012em;
    @include media-breakpoint-down(xl) {
      font-size: 16px;
      line-height: 120%;
    }
  }

  * + {
    h2, h3, h4, h5 {
      margin-top: 20px;
    }
  }
}


.form-group {
  margin-bottom: 20px;

}

.form-label {
  margin-bottom: 0;

  &.-with-icon {
    position: relative;


    .form-control {
      padding-left: 72px;
      height: 50px;
      border-radius: 5px;
      border: 1px solid $color-lightgray-1;
      background: #FFF;
      color: rgba(0, 0, 0, 1);
      font-family: $roboto-condensed-font;
      font-size: 20px;
      font-style: normal;
      font-weight: 300;
      line-height: 160%;
      @include media-breakpoint-down(xl) {
        font-size: 18px;
        height: 44px;
      }
      @include media-breakpoint-down(md) {
        font-size: 16px;
      }

      &:focus {
        border-color: darken($color-lightgray-1, 12%);
        background: #FFF;
      }

      &::placeholder {
        color: rgba(0, 0, 0, 0.35);
      }
    }

    .input-icon {
      position: absolute;
      width: 52px;
      border-radius: 5px;
      background: $color-lightgray-3;
      left: 1px;
      top: 1px;
      bottom: 1px;
      display: flex;
      align-items: center;
      justify-content: center;
      @include media-breakpoint-down(xl) {
        width: 45px;
      }

      &:before {
        content: '';
        width: 30px;
        height: 30px;
      }

      &.-password {
        &:before {
          background: url('../../../images/icons/profile-form/password.svg') no-repeat 50% 50%/ contain;
        }
      }

      &.-phone {
        &:before {
          background: url('../../../images/icons/profile-form/phone.svg') no-repeat 50% 50%/ contain;
        }
      }

      &.-viber {
        &:before {
          background: url('../../../images/icons/profile-form/viber.svg') no-repeat 50% 50%/ contain;
        }
      }

      &.-telegram {
        &:before {
          background: url('../../../images/icons/profile-form/telegram.svg') no-repeat 50% 50%/ contain;
        }
      }

      &.-whatsapp {
        &:before {
          background: url('../../../images/icons/profile-form/whatsapp.svg') no-repeat 50% 50%/ contain;
        }
      }

      &.-name {
        &:before {
          background: url('../../../images/icons/profile-form/name.svg') no-repeat 50% 50%/ contain;
        }
      }
    }

    &.password-label {
      input {
        padding-right: 56px;
      }

      .toggle-password-button {
        position: absolute;
        z-index: 3;
        right: 0;
        top: 0;
        height: 100%;
        width: 56px;
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
          font-size: 20px;
          color: $color-lightgray-1;
        }
      }
    }
  }
}

.required-text {
  color: rgba(0, 0, 0, 0.75);
  font-family: $roboto-condensed-font;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  margin-top: 18px;
  margin-bottom: 30px;
  letter-spacing: -0.012em;
  @include media-breakpoint-down(md) {
    margin-top: 2px;
    margin-bottom: 20px;
  }
}

.form-select.-with-icon.-name {
  & + .select2 {
    &.select2-container {
      .select2-selection--single {
        .select2-selection__rendered {
          padding-left: 72px;
          position: relative;

          &:before {
            content: '';
            position: absolute;
            width: 52px;
            border-radius: 5px;
            left: 0;
            top: 0;
            bottom: 0;
            background: $color-lightgray-3 url('../../../images/icons/profile-form/name.svg') no-repeat 50% 50%/ auto 30px;
            @include media-breakpoint-down(xl) {
              width: 45px;
            }
          }
        }
      }
    }
  }
}


.form-select.-location, .form-select.-simple-location {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.50);
  border-radius: 0;
  color: rgba(0, 0, 0, 0.50);
  font-family: $roboto-condensed-font;
  padding: 0;
  height: 30px;
  letter-spacing: -0.01em;
  padding-left: 35px;
  background: url('../../../images/icons/location-2.svg') no-repeat 0 50% / auto 21px;

  &:focus {
    background-color: transparent;
    border-bottom-color: rgba(0, 0, 0, 0.50);
  }

  @include media-breakpoint-down(xl) {
    padding-left: 17px;
    background-size: auto 15px;
    font-size: 16px;
  }

  & + .select2 {
    &.select2-container {
      .select2-selection--single {
        box-shadow: none;
        outline: none;
        border-radius: 0;
        border: none;
        background: transparent;
        height: auto;

        .select2-selection__arrow {
          display: none;
        }

        .select2-selection__rendered {
          border: none;
          border-bottom: 1px solid rgba(0, 0, 0, 0.50);
          border-radius: 0;
          color: rgba(0, 0, 0, 0.50);
          font-family: $roboto-condensed-font;
          padding: 0;
          height: 30px;
          letter-spacing: -0.01em;
          padding-left: 35px;
          background: url('../../../images/icons/location-2.svg') no-repeat 0 50% / auto 21px;

          &:focus {
            background-color: transparent;
            border-bottom-color: rgba(0, 0, 0, 0.50);
          }

          @include media-breakpoint-down(xl) {
            padding-left: 17px;
            background-size: auto 15px;
            font-size: 16px;
          }
        }
      }
    }
  }

}

.select2 {
  &.select2-container {
    width: 100% !important;

    &.select2-container--open {
      .select2-selection--single {
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      }

      &.select2-container--above {
        .select2-selection--single {
          box-shadow: 0 -4px 4px 0 rgba(0, 0, 0, 0.25);
        }
      }
    }


    .select2-selection--single {
      box-shadow: none;
      outline: none;
      width: 100%;
      font-size: 20px;
      font-style: normal;
      font-weight: 300;
      line-height: 140%;
      border-radius: 5px;
      border: 1px solid $color-lightgray-1;
      background: #FFF;
      height: 50px;
      color: #000;
      @include media-breakpoint-down(xl) {
        font-size: 16px;
        line-height: 120%;
        height: 44px;
      }
      @include media-breakpoint-down(md) {
        font-size: 14px;
      }


      .select2-selection__rendered {
        padding: 7px 50px 7px 16px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: rgba(0, 0, 0, 0.75);
        @include media-breakpoint-down(xl) {
          padding: 7px 42px 7px 14px;
        }
      }

      .select2-selection__arrow {
        width: 50px;
        height: 100%;
        top: 0;
        right: 0;
        @include media-breakpoint-down(xl) {
          width: 42px;
        }

        b {
          display: none;
        }

        &:before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 15px;
          height: 7px;
          background: url('../../../images/icons/arrow-select.svg') no-repeat 50% 50%/contain;
          transition: .4s;
        }
      }
    }

    &.select2-container--open {
      .select2-selection--single {
        .select2-selection__arrow {
          &:before {
            transform: translate(-50%, -50%) rotate(180deg);
          }
        }
      }
    }
  }
}

.select2-container--default {

  .select2-dropdown {
    z-index: 989 !important;
    border-radius: 5px;
    border: none;
    background: #FFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    overflow: hidden;

    .select2-results ul {
      padding-bottom: 13px;
      @include media-breakpoint-down(xl) {
        padding-bottom: 5px;
      }

      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-track {
        background: $color-lightgray-4;
        opacity: 1;
      }

      &::-webkit-scrollbar-thumb {
        background: $color-lightgray-1;
        opacity: 1;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: $color-gray-3;
        opacity: 1;
      }
    }

    &.select2-dropdown--above {
      border-bottom: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      box-shadow: 0 -4px 4px 0 rgba(0, 0, 0, 0.25);
    }

    &.select2-dropdown--below {
      border-top: none;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    &.-location {
      box-shadow: none;
      border-radius: 0;
      margin-top: -30px;

      .select2-search {
        padding: 0;

        input {
          border: none;
          border-bottom: 1px solid rgba(0, 0, 0, 0.50);
          border-radius: 0;
          color: rgba(0, 0, 0, 0.75);
          font-family: $roboto-condensed-font;
          padding: 0;
          height: 30px;
          letter-spacing: -0.01em;
          padding-left: 35px;
          background: url('../../../images/icons/location-2.svg') no-repeat 0 50% / auto 21px;

          &::placeholder {
            color: rgba(0, 0, 0, 0.50);
          }

          &:focus {
            background-color: transparent;
            border-bottom-color: rgba(0, 0, 0, 0.50);
          }

          @include media-breakpoint-down(xl) {
            padding-left: 17px;
            background-size: auto 15px;
            font-size: 16px;
          }
        }
      }

      @include media-breakpoint-down(xl) {
        .select2-results {
          border: 1px solid rgba(82, 97, 114, 0.10);

          > .select2-results__options {
            max-height: 200px;
          }
        }
      }
      @include media-breakpoint-up(xl) {
        .select2-results {
          position: fixed;
          left: 50%;
          width: 100%;
          height: auto;
          max-height: 100%;
          bottom: 0;
          transform: translateX(-50%);
          background: rgba(255, 255, 255, 0.90);
          overflow-y: auto;
          overflow-x: hidden;

          &::-webkit-scrollbar {
            width: 5px;
          }

          &::-webkit-scrollbar-track {
            background: $color-lightgray-4;
            opacity: 1;
          }

          &::-webkit-scrollbar-thumb {
            background: $color-lightgray-1;
            opacity: 1;
          }

          &::-webkit-scrollbar-thumb:hover {
            background: $color-gray-3;
            opacity: 1;
          }

          > .select2-results__options {
            max-height: unset;
            columns: 3;
            column-gap: 30px;
            padding-bottom: 30px;
            position: relative;
            width: 100%;
            max-width: 1594px;
            padding-left: 15px;
            padding-right: 15px;
            margin: 0 auto;
            z-index: 0;
            overflow: visible;
            @include media-breakpoint-down(xxl) {
              max-width: 1196px;
            }

            &:before {
              content: '';
              position: absolute;
              top: 0;
              bottom: 0;
              width: 100vw;
              background: $color-lightgray-4;
              z-index: -1;
              left: 50%;
              transform: translateX(-50%);
            }

            li {
              border-bottom: none;
              height: auto;
              padding: 0;
              color: rgba(0, 0, 0, 0.75);
              font-family: $roboto-condensed-font;
              font-size: 20px;
              font-style: normal;
              font-weight: 300;
              line-height: 220%;
              border-top: 1px solid $color-lightgray-2;
              border-bottom: 1px solid $color-lightgray-2;
              margin-bottom: -1px;

              &:hover {
                background: transparent;
                color: rgba(0, 0, 0, 0.55);
              }

              &.select2-results__option--selected, &.select2-results__option--highlighted {
                background: transparent;
              }

              //&.select2-results__message {
              //  display: none;
              //}
            }

          }
        }
      }

    }

    &.-simple-location {
      box-shadow: none;
      border-radius: 0;
      margin-top: -30px;

      .select2-search {
        padding: 0;

        input {
          border: none;
          border-bottom: 1px solid rgba(0, 0, 0, 0.50);
          border-radius: 0;
          color: rgba(0, 0, 0, 0.75);
          font-family: $roboto-condensed-font;
          padding: 0;
          height: 30px;
          letter-spacing: -0.01em;
          padding-left: 35px;
          background: url('../../../images/icons/location-2.svg') no-repeat 0 50% / auto 21px;

          &::placeholder {
            color: rgba(0, 0, 0, 0.50);
          }

          &:focus {
            background-color: transparent;
            border-bottom-color: rgba(0, 0, 0, 0.50);
          }

          @include media-breakpoint-down(xl) {
            padding-left: 17px;
            background-size: auto 15px;
            font-size: 16px;
          }
        }
      }

      .select2-results {
        border: 1px solid rgba(82, 97, 114, 0.10);

        @include media-breakpoint-down(xl) {
          > .select2-results__options {
            max-height: 200px;
          }
        }
      }
    }
  }

  .select2-search--dropdown {
    .select2-search__field {
      outline: none !important;
    }
  }

  .select2-results__option {
    color: #000;
    font-family: $roboto-condensed-font;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    padding: 7px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media-breakpoint-down(xl) {
      font-size: 16px;
      line-height: 120%;
      padding: 7px 14px;
    }

    .count {
      padding: 3px 8px;
      margin-right: -6px;
      flex: none;
      color: $color-gray-3;
      text-align: center;
      font-family: $roboto-condensed-font;
      font-size: 12px;
      font-style: normal;
      font-weight: 300;
      line-height: 100%;
      margin-left: 5px;
      border-radius: 9px;
      background: $color-lightgray-3;
    }
  }

  .select2-results__option--selected {
    background: #5DBE28;
    color: #000;
  }

  .select2-results__option--highlighted.select2-results__option--selectable {
    background: #5DBE28;
    color: #000;
  }
}

.privacy-policy-text {
  margin-top: 16px;
  margin-left: 302px;
  color: rgba(0, 0, 0, 0.75);
  font-family: $roboto-condensed-font;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  width: 348px;
  max-width: 100%;
  letter-spacing: -0.016em;
  @include media-breakpoint-down(xl) {
    margin-left: 0;
    width: 100%;
    font-size: 12px;
    line-height: 160%;
    margin-top: 18px;
  }

  a {
    color: rgba(0, 0, 0, 0.75);
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;

    &:hover {
      text-decoration: none;
    }
  }
}

.bx_filter_select_container {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(82, 97, 114, 0.10);
  padding: 0;
  border-radius: 5px;
  background: #FFF;
  box-shadow: none;
  filter: none;
  overflow: hidden;
  @include media-breakpoint-down(md) {
    height: 44px;
  }

  .bx_filter_select_block {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0 50px 0 16px;
    border: none;
    background: #fff;
    box-shadow: none;
    color: rgba(0, 0, 0, 0.50);
    font-family: $roboto-condensed-font;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
    @include media-breakpoint-down(xxl) {
      padding-right: 42px;
    }
    @include media-breakpoint-down(xl) {
      font-size: 14px;
      padding-left: 8px;
      padding-right: 25px;
    }
    @include media-breakpoint-down(md) {
      height: 44px;
      padding-left: 7px;
    }
  }

  .bx_filter_select_arrow {
    width: 50px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    background: url('../../../images/icons/arrow-select.svg') no-repeat 50% 50%/ 12px auto;
    @include media-breakpoint-down(xxl) {
      width: 42px;
    }
    @include media-breakpoint-down(xl) {
      width: 25px;
    }
  }
}

.bx_filter_parameters_box_title {
  color: rgba(0, 0, 0, 0.75);
  font-family: $roboto-condensed-font;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%;
  letter-spacing: -0.02em;
  @include media-breakpoint-down(xl) {
    font-size: 12px;
  }
}

.smartfilter {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 40px;
  @include media-breakpoint-down(xl) {
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 31px;
  }
  @include media-breakpoint-down(md) {
    display: block;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }

  .bx_filter_parameters_box {
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
    @include media-breakpoint-down(xl) {
      padding-left: 10px;
      padding-right: 10px;
    }
    @include media-breakpoint-down(md) {
      padding-left: 0;
      padding-right: 0;
      width: 100%;
      padding-top: 21px;
    }
  }

  .bx_filter_parameters_box_title {
    padding-left: 16px;
    margin-bottom: 4px;
    @include media-breakpoint-down(xl) {
      padding-left: 8px;
      margin-bottom: 7px;
    }
  }

  .bx_filter_parameters_box_container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    .bx_filter_parameters_box_container_block {
      width: 50%;
      padding-right: 4px;

      .bx_filter_input_container {
        background: none !important;
        padding: 0;
        box-shadow: none;
      }

      input[type="text"] {
        height: 50px;
        width: 100%;
        padding: 0 16px;
        border-radius: 5px;
        border: 1px solid rgba(82, 97, 114, 0.10);
        background: #FFF;
        color: rgba(0, 0, 0, 0.75);
        font-family: $roboto-condensed-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 120%;
        box-shadow: none;
        outline: none;

        &::placeholder {
          color: rgba(0, 0, 0, 0.50);
        }

        @include media-breakpoint-down(xl) {
          padding: 0 8px;
        }
        @include media-breakpoint-down(md) {
          height: 44px;
          font-size: 14px;
        }
      }

      .form-label {
        width: 100%;
        box-shadow: none;
        outline: none;

        &.-min-max-label {
          border-radius: 5px;
          border: 1px solid rgba(82, 97, 114, 0.10);
          background: #FFF;
          display: flex;
          align-items: baseline;
          justify-content: flex-start;
          height: 50px;
          color: rgba(0, 0, 0, 0.50);
          font-family: $roboto-condensed-font;
          font-size: 16px;
          font-style: normal;
          font-weight: 300;
          line-height: 120%;
          padding: 10px 5px 10px 16px;
          @include media-breakpoint-down(xl) {
            font-size: 16px;
            line-height: 120%;
            height: 44px;
            padding: 10px 5px 10px 8px;
          }
          @include media-breakpoint-down(md) {
            font-size: 14px;
            padding: 7px 5px 7px 8px;
          }

          input[type='text'], .form-control {
            width: 100%;
            color: #000;
            font-family: $roboto-condensed-font;
            font-size: 20px;
            font-style: normal;
            font-weight: 300;
            line-height: 145%;
            border: none;
            height: auto;
            box-shadow: none;
            background: transparent;
            padding: 0 0 0 4px;
            @include media-breakpoint-down(xl) {
              font-size: 16px;
              line-height: 24px;
            }
            @include media-breakpoint-down(md) {
              font-size: 14px;
              line-height: 30px;
            }
          }
        }
      }

      & + .bx_filter_parameters_box_container_block {
        padding-right: 0;
        padding-left: 4px;
      }
    }
  }
}

.form-text {
  color: rgba(0, 0, 0, 0.70);
  font-family: $roboto-condensed-font;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%;
  letter-spacing: -0.008em;
  margin-top: 20px;
  @include media-breakpoint-down(md) {
    margin-top: 15px;
    font-size: 14px;
  }
}

.form-check {
  padding-left: 0;
  margin-bottom: 15px;
  @include media-breakpoint-down(md) {
    margin-bottom: 10px;
  }

  .form-check-input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;

    &:checked + {
      .form-check-label {
        &:before {
          border: 2px solid $color-blue-1;
        }
        &:after {
          opacity: 1;
        }
      }
    }
  }

  .form-check-label {
    padding-left: 30px;
    position: relative;
    color: rgba(0, 0, 0, 0.75);
    font-family: $roboto-condensed-font;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
    letter-spacing: -0.012em;
    @include media-breakpoint-down(md) {
      font-size: 16px;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 18px;
      height: 18px;
      border: 2px solid rgba(0, 0, 0, 0.35);
      border-radius: 50%;
      display: block;
      transition: .3s;
    }

    &:after {
      content: '';
      position: absolute;
      left: 5px;
      top: 50%;
      transform: translateY(-50%);
      width: 8px;
      height: 8px;
      background: $color-blue-1;
      border-radius: 50%;
      display: block;
      opacity: 0;
      transition: .3s;
    }
  }
}