.form-label {
  width: 100%;
  box-shadow: none;
  outline: none;
}
.form-control {
  box-shadow: none !important;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.50);
  border-radius: 0;
  width: 100%;
  color: rgba(0, 0, 0, 0.75);
  font-family: $roboto-condensed-font;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  padding: 0;
  background: none;
  letter-spacing: -0.01em;
  @include media-breakpoint-down(xl) {
    font-size: 16px;
  }

  &::placeholder {
    color: rgba(0, 0, 0, 0.50);
  }

  &:focus {
    border-bottom-color: rgba(0, 0, 0, 0.50);
  }

  &.-search {
    padding-left: 30px;
    background: url('../../../images/icons/search.svg') no-repeat 0 50% / auto 19px;
    @include media-breakpoint-down(xl) {
      padding-left: 22px;
      background-size: auto 15px;
    }
  }
  &.-location {
    padding-left: 25px;
    background: url('../../../images/icons/location.svg') no-repeat 0 50% / auto 21px;
    @include media-breakpoint-down(xl) {
      padding-left: 17px;
      background-size: auto 15px;
    }
  }
}