body {
  &.-overflow-hidden {
    overflow: hidden;
  }
}

html {
  &.swipebox-html {
    body {
      overflow: hidden;
    }
  }
}

.site {
  background: $color-lightgray-4;
  padding-top: 70px;
  @include media-breakpoint-down(xl) {
    padding-top: 60px;
  }
}

a {
  text-decoration: none;
  color: inherit;
  transition: color .5s, opacity .5s, background .5s;

  &:focus {
    outline: none;
  }
}

button {
  transition: color .5s, opacity .5s, background .5s;
  cursor: pointer;
}

.bg-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &.-lg-link {
    letter-spacing: -0.014em;

    li {
      margin-bottom: 15px;
    }
  }

  &.-md-link {
    li {
      margin-bottom: 15px;

      a {
        display: inline-block;
        max-width: 111px;
      }
    }
  }

  &.-cols {
    columns: 2;
  }

  &.-social {
    max-width: 150px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 20px;
    row-gap: 13px;
    @include media-breakpoint-down(xl) {
      column-gap: 26px;
      max-width: 100%;
    }
    @include media-breakpoint-down(md) {
      column-gap: 22px;
    }

    li {
      a {
        width: 50px;
        height: 50px;
        display: inline-flex;
        @include media-breakpoint-down(xl) {
          width: 36px;
          height: 36px;
        }

        svg {
          width: 100%;
          height: 100%;
          object-fit: contain;

          .hover-path {
            opacity: 0;
            transition: .4s;
          }
        }

        &:hover {
          svg {
            .hover-path {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  &.lang-menu {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-left: 8px;

    li {
      padding: 0 6px;
      position: relative;

      &:not(:last-child) {
        &:after {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
          height: 10px;
          width: 1px;
          background: rgba(255, 255, 255, 0.50);
        }
      }

      a {
        color: #fff;
        font-family: $roboto-font;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%;
        text-transform: uppercase;

        &.active, &:hover {
          color: $color-green-3;
        }
      }
    }
  }
}

.link-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .4s;

  a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;

    svg {
      width: 22px;
      height: 22px;
      max-height: 100%;
      max-width: 100%;
    }
  }
}

*.-md-link {
  font-family: $roboto-condensed-font;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  @include media-breakpoint-down(xl) {
    font-size: 14px;
  }
}

*.-lg-link {
  font-family: $roboto-condensed-font;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%;
}

.full-height {
  height: 100%;
}

.section-title {
  color: $color-green-1;
  font-family: $roboto-condensed-font;
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%;
  @include media-breakpoint-down(xl) {
    font-size: 24px;
  }

  &.-min {
    font-size: 30px;
    @include media-breakpoint-down(xl) {
      font-size: 24px;
    }
  }
}

.section-title-type-2 {
  color: $color-gray-3;
  font-family: $roboto-condensed-font;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  @include media-breakpoint-down(xl) {
    font-size: 40px;
  }
}

.blue-link {
  color: $color-blue-2;
  font-family: $roboto-condensed-font;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%;
  @include media-breakpoint-down(xl) {
    font-size: 16px;
  }

  &:hover {
    color: $color-green-1;
  }
}

.complaint-box {
  text-align: right;
  padding-top: 30px;
  @include media-breakpoint-down(xxl) {
    padding-top: 33px;
    padding-right: 8px;
    padding-left: 8px;
  }
  @include media-breakpoint-down(xl) {
    padding-top: 22px;
    padding-right: 7px;
    padding-left: 7px;
  }
  @include media-breakpoint-down(md) {
    padding-top: 14px;
    padding-left: 0;
    padding-right: 0;
  }

  a {
    color: rgba(0, 0, 0, 0.75);
    font-family: $roboto-condensed-font;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
    padding-left: 24px;
    position: relative;
    letter-spacing: -0.02em;

    &:before {
      content: '\e999';
      font-family: 'fontello';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &:hover {
      color: $color-orange-1;
    }
  }
}

.hint {
  color: rgba(0, 0, 0, 0.75);
  font-family: $roboto-condensed-font;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%;
  margin-top: 16px;
  letter-spacing: -0.016em;

  a {
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.35);

    &:hover {
      border-bottom: 1px solid rgba(0, 0, 0, 0);
    }
  }
}

.page-title {
  color: $color-green-1;
  font-family: $roboto-condensed-font;
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%;
  @include media-breakpoint-down(xl) {
    font-size: 30px;
  }
}

.social-tabs {
  margin-bottom: 23px;

  @include media-breakpoint-down(xl) {
    margin-bottom: 10px;
  }
  @include media-breakpoint-down(md) {
    margin-bottom: 15px;
  }

  .social-tab {
    border-radius: 5px;
    border: 1px solid rgba(82, 97, 114, 0.10);
    background: #FFF;
    padding: 3px 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: rgba(0, 0, 0, 0.75);
    font-family: $roboto-condensed-font;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
    text-transform: uppercase;
    letter-spacing: -0.022em;
    transition: .3s;
    @include media-breakpoint-down(xl) {
      padding: 7px 5px 7px 8px;
      font-size: 12px;
    }

    svg {
      width: 30px;
      height: 30px;
      margin-right: 16px;
      color: $color-gray-3;
      transition: .3s;
      flex: none;
      @include media-breakpoint-down(xl) {
        width: 20px;
        height: 20px;
        margin-right: 8px;
      }
    }

    &.active, &:hover {
      color: #000;
      background: $color-green-3;

      svg {
        color: #000;
      }
    }
  }
}

.social-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 10px;
  padding-bottom: 10px;
  @include media-breakpoint-down(xl) {
    display: block;
  }

  .social-label {
    padding-top: 4px;
    color: rgba(0, 0, 0, 0.75);
    font-family: $roboto-condensed-font;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
    letter-spacing: -0.014em;
    padding-right: 15px;
    flex: none;
    max-width: 50%;
    @include media-breakpoint-down(xxl) {
      width: 50%;
    }
    @include media-breakpoint-down(xl) {
      font-size: 16px;
      line-height: 120%;
      margin-bottom: 15px;
      width: 100%;
      max-width: 100%;
      padding-right: 0;
    }
  }

  .menu.-social {
    max-width: 300px;
    column-gap: 50px;
    row-gap: 50px;
    padding-left: 26px;
    @include media-breakpoint-down(xl) {
      column-gap: 20px;
      row-gap: 20px;
      padding-left: 0;
    }

    li {
      display: flex;
    }
  }
}

.category-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 -4px;
  padding-bottom: 40px;
  row-gap: 8px;

  .item {
    padding: 0 4px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .category-link {
      border-radius: 5px;
      border: 1px solid rgba(82, 97, 114, 0.10);
      background: #FFF;
      padding: 5px 16px 5px 15px;
      display: inline-flex;
      align-items: center;
      justify-content: flex-start;
      color: rgba(0, 0, 0, 0.75);
      font-family: $roboto-condensed-font;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: 100%;
      text-transform: uppercase;
      letter-spacing: -0.022em;
      transition: .3s;
      white-space: nowrap;
      @include media-breakpoint-down(xl) {
        padding: 7px 5px 7px 8px;
        font-size: 12px;
      }

      svg {
        width: 24px;
        height: 24px;
        margin-right: 8px;
        color: $color-gray-3;
        transition: .3s;
        flex: none;
      }

      &.active, &:hover {
        color: #000;
        background: $color-green-3;

        svg {
          color: #000;
        }
      }
    }
  }

  &.-simple {
    padding-bottom: 30px;

    .item {
      .category-link {
        font-size: 14px;
        padding: 10px 16px;
      }
    }
  }
}

.column-list {
  columns: 3;
  column-gap: 30px;
  @include media-breakpoint-down(md) {
    columns: unset;
    column-gap: 0;
  }

  .item {
    font-family: $roboto-condensed-font;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 160%;
    color: rgba(0, 0, 0, 0.75);
    padding-left: 26px;
    position: relative;
    margin-bottom: 20px;
    letter-spacing: -0.012em;
    @include media-breakpoint-down(xl) {
      font-size: 16px;
      padding-left: 23px;
      margin-bottom: 17px;
    }
    @include media-breakpoint-down(md) {
      padding-left: 20px;
      margin-bottom: 16px;
    }

    &:before {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      left: 0;
      top: 14px;
      background: #FFFFFF;
      border-radius: 50%;
      @include media-breakpoint-down(xl) {
        left: 1px;
        top: 8px;
      }
      @include media-breakpoint-down(md) {
        left: 0;
      }
    }
  }
}

.general-link {
  font-family: $roboto-condensed-font;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 160%;
  text-decoration-line: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
  color: rgba(0, 0, 0, 0.75);
  @include media-breakpoint-down(xl) {
    font-size: 16px;
  }

  &:hover {
    text-decoration: none;
  }
}