body {
  &.-overflow-hidden {
    overflow: hidden;
  }
}

.site {
  background: $color-lightgray-4;
  padding-top: 70px;
  @include media-breakpoint-down(xl) {
    padding-top: 60px;
  }
}

a {
  text-decoration: none;
  color: inherit;
  transition: color .5s, opacity .5s, background .5s;

  &:focus {
    outline: none;
  }
}

button {
  transition: color .5s, opacity .5s, background .5s;
  cursor: pointer;
}

.bg-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &.-lg-link {
    letter-spacing: -0.014em;
    li {
      margin-bottom: 15px;
    }
  }

  &.-md-link {
    li {
      margin-bottom: 15px;
      a {
        display: inline-block;
        max-width: 111px;
      }
    }
  }

  &.-cols {
    columns: 2;
  }

  &.-social {
    max-width: 150px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 20px;
    row-gap: 13px;
    @include media-breakpoint-down(xl) {
      column-gap: 26px;
      max-width: 100%;
    }
    @include media-breakpoint-down(md) {
      column-gap: 22px;
    }
    li {
      a {
        width: 50px;
        height: 50px;
        display: inline-flex;
        @include media-breakpoint-down(xl) {
          width: 36px;
          height: 36px;
        }
        svg {
          width: 100%;
          height: 100%;
          object-fit: contain;
          .hover-path {
            opacity: 0;
            transition: .4s;
          }
        }
        &:hover {
          svg {
            .hover-path {
              opacity: 1;
            }
          }
        }
      }
    }
  }
  &.lang-menu {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-left: 8px;

    li {
      padding: 0 6px;
      position: relative;

      &:not(:last-child) {
        &:after {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
          height: 10px;
          width: 1px;
          background: rgba(255, 255, 255, 0.50);
        }
      }

      a {
        color: #fff;
        font-family: $roboto-font;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%;
        text-transform: uppercase;

        &.active, &:hover {
          color: $color-green-3;
        }
      }
    }
  }
}

.link-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .4s;
  a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    svg {
      width: 22px;
      height: 22px;
      max-height: 100%;
      max-width: 100%;
    }
  }
}

*.-md-link {
  font-family: $roboto-condensed-font;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  @include media-breakpoint-down(xl) {
    font-size: 14px;
  }
}

*.-lg-link {
  font-family: $roboto-condensed-font;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%;
}

.full-height {
  height: 100%;
}

.section-title {
  color: $color-green-1;
  font-family: $barista-font;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  @include media-breakpoint-down(xl) {
    font-size: 40px;
  }
}

.blue-link {
  color: $color-blue-2;
  font-family: $roboto-condensed-font;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%;
  @include media-breakpoint-down(xl) {
    font-size: 16px;
  }
  &:hover {
    color: $color-green-1;
  }
}

.complaint-box {
  text-align: right;
  padding-top: 30px;
  @include media-breakpoint-down(xxl) {
    padding-top: 33px;
    padding-right: 8px;
    padding-left: 8px;
  }
  @include media-breakpoint-down(xl) {
    padding-top: 22px;
    padding-right: 7px;
    padding-left: 7px;
  }
  @include media-breakpoint-down(md) {
    padding-top: 14px;
    padding-left: 0;
    padding-right: 0;
  }
  a {
    color: rgba(0, 0, 0, 0.75);
    font-family: $roboto-condensed-font;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
    padding-left: 24px;
    position: relative;
    letter-spacing: -0.02em;
    &:before {
      content: '\e999';
      font-family: 'fontello';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    &:hover {
      color: $color-orange-1;
    }
  }
}

.hint {
  color: rgba(0, 0, 0, 0.75);
  font-family: $roboto-condensed-font;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%;
  margin-top: 16px;
  letter-spacing: -0.016em;
  a {
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.35);
    &:hover {
      border-bottom: 1px solid rgba(0, 0, 0, 0);
    }
  }
}

.page-title {
  color: $color-green-1;
  font-family: $barista-font;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  @include media-breakpoint-down(xl) {
    font-size: 48px;
  }
}