section {
  overflow: hidden;
}

.site {
  min-height: 100vh;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
}

.container {
  width: 100%;
  max-width: 1600px;
  @include media-breakpoint-down(xxl) {
    max-width: 1200px;
  }
  @include media-breakpoint-down(xl) {
    max-width: 754px;
  }
}