$base-font-size: 18px;

$color-gray-1: #646464;


$main-font: 'BentonSans', sans-serif;
$fontello-font: 'fontello';


$desktop-breakpoint: 1919px;
$tablet-breakpoint: 991px;
$mobile-breakpoint: 767px;