#neti_favorites_equation {
    height: 64px;
    position: relative;
}
#neti_favorites_equation i {
    font-size: 32px;
    color: red;
}
#neti_favorites_equation p.count {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #0b011d;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #feae4f;
    right: -5px;
    margin: 0;
    top: -5px;
}