.fa-star-custom-o:before {
    display: flex;
    background: url(../images/icons/star.svg);
    content: "";
    width: 21px;
    height: 21px;
    background-position: center;
    background-repeat: no-repeat;
}
.fa-star-custom-o:hover:before {
    background: url(../images/icons/star-hover.svg);
    background-position: center;
    background-repeat: no-repeat;
}
.fa-star-custom:before {
    display: flex;
    background: url(../images/icons/star-selected.svg);
    content: "";
    width: 21px;
    height: 21px;
    background-position: center;
    background-repeat: no-repeat;
}
.product-info .fa-star-custom-o:before, .product-info .fa-star-custom:before  {
    width: 32px;
    height: 32px;
    background-size: contain;
}
.site-header .link-icon a.selected {
    color: #FB7437;
}
.inputfile, .typefile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}


.inputfile + label {
    color: #d3394c;
}

.inputfile:focus + label,
.inputfile.has-focus + label,
.inputfile + label:hover {
    color: #722040;
}

.inputfile + label figure {
    width: 69px;
    height: 69px;
    background-color: #d3394c;
    display: block;
    position: relative;
    padding: 14px;
    margin: 0 auto 10px;
}

.inputfile:focus + label figure,
.inputfile.has-focus + label figure,
.inputfile + label:hover figure {
    background-color: #722040;
}

.inputfile + label figure::before,
.inputfile + label figure::after {
    width: 0;
    height: 0;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
}

.inputfile + label figure::before {
    border-top: 20px solid #dfc8ca;
    border-left: 20px solid transparent;
}

.inputfile + label figure::after {
    border-bottom: 20px solid #722040;
    border-right: 20px solid transparent;
}

.inputfile:focus + label figure::after,
.inputfile.has-focus + label figure::after,
.inputfile + label:hover figure::after {
    border-bottom-color: #d3394c;
}

.inputfile + label svg {
    width: 100%;
    height: 100%;
    fill: #f1e5e6;
}
.select2.select2-container .select2-selection--single .select2-selection__arrow:before {
    z-index: 1;
}
.form-group .form-label.-with-icon .input-icon.-dopphone:before {
    background: url(../images/icons/af69bec00e1ac44fd7ce.svg) no-repeat 50% 50%/contain;
}
.delete-img {
    display:none;
}
.upload-group .upload-file-custom {
    position: relative;
}

.upload-group .upload-file-custom label.delete{
    position: absolute;
    top: calc((100% - 30px)/2);
    left: calc((100% - 30px)/2);
    z-index: 1;
    opacity:0;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}
.upload-group .upload-file-custom label.active{
    opacity:1;
}
.upload-group .upload-file-custom label.active svg path{
    fill:red;
}
.upload-group .upload-file-custom label.delete:hover  {
    opacity:1;
}
.delete-item-user:hover, .delete-company-user:hover {
    cursor: pointer;
}
.personal-section .product-grid-item .box .company-logo {
    margin: 10px;
}
.personal-section .product-grid-item .box .text .category-location {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 14px;
}
.personal-section .product-grid-item .box .text .category-location .location {
    color: rgba(0,0,0,0.75);
    font-family: "Roboto Condensed",sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
    position: relative;
    padding-left: 17px;
    margin-right: 12px;
}
.personal-section .product-grid-item .box .text .category-location .category {
    color: #409313;
    font-family: "Roboto Condensed",sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    text-transform: uppercase;
    margin-right: 22px;
}
.personal-section .products-masonry.my-products .product-grid-item .box .text {
    min-height: auto;
}
.products-overview-section .author-wrap .author-box .avatar {
    border-radius: 50%;
}
.btn.btn-refresh, .social-tabs .social-tab, .disabled-item-user, .delete-item-user, .delete-company-user, .disabled-company-user {
    cursor:pointer;
}
.products-overview-section .filter-output-box .filter-output .links span.category-page, .products-overview-section .filter-output-box .filter-output .links span.current-page{
    border: 1px solid transparent;
    padding: 2px 4px;
}
.products-overview-section .search-title-box .search-output span.link{
    color: #2B618F;
    font-family: "Roboto Condensed",sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
    letter-spacing: -0.012em;
    cursor:pointer;
}
.products-overview-section .search-title-box .search-output span:first-child:not(.current){
    margin-right: 23px;
}
.communities-wrap .social-icon img {
    max-width: 100%;
}
.form-label.-with-icon .input-icon.-email:before {
    background: url(../js/../images/email.svg) no-repeat 50% 50%/contain;
}
.personal-section .products-masonry.my-products .product-grid-item .box .overlay-disabled {
    visibility: visible;
    opacity: 1;
    padding: 10px 15px;
    color: #fff;
    align-items: flex-end;
    font-family: "Barista",sans-serif;
    font-size: 32px;
}
.products-overview-section .load-more-box {
    text-align: center;
    padding-top: 9px;
}
.not-found-section .back-text {
    position: relative;
    z-index: 2;
}
span.blue-link, .personal-section .products-masonry.my-products .product-grid-item .box a.overlay-link {
    cursor:pointer;
}