@font-face{font-family:'MADE Barista';src:url(../fonts/MADEBarista.otf);font-display:swap;}
@font-face{font-family:'Roboto';src:url(../fonts/Roboto.ttf);font-display:swap;}
@font-face{font-family:'Roboto Condensed Light';src:url(../fonts/RobotoCondensed-Light.ttf);font-display:swap;}
body {
    color:#000;
    background:#F5F5F5;
}
a {
    color: #2B618F;
}
.gray-b {
    background-color:#3D4A59;
}
.gray-light-b {
    background-color:#526172;
}
.gray-dark-b {
    background-color:#303943;
}
.gray {
    color:#3D4A59;
}
.green {
    color:#409313;
}
.green-light {
    color:#5DBE28;
}
.white {
    color:#fff;
}
.gray-b {
    background-color:#3D4A59;
}
.gray {
    color:#3D4A59;
}

.ads {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, auto); /* Увеличиваем количество строк до 4 */
    gap: 10px;
}

.ads .item .text{
    padding: 10px;
    text-align: center;
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    grid-auto-rows: minmax(100px, auto); /* Минимальная высота строки */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #fff;
}
.ads .banner {
    grid-row: 2; /* Указываем, что баннер займет строки с 4 по 6 */
    grid-column: 3;
}
.ads .item img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.ads .banner img {
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}